@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
     box-sizing: border-box;
}
html{
     height: 100%;

}

body{
     height: 100%;
     display: grid;
     place-items: center;
     margin: 0px;
     padding:0 32px;
     background:#640D5F;
     font-family: "Ubuntu";
     animation: rotate 6s infinite alternate linear;
}

.circle{
     position: fixed;
     top:-50vmin;
     left:-50vmin;
     width: 100vmin;
     height: 100vmin;
     border-radius: 47% 53% 63% 39% /45% 51% 49% 55%;
     background-color:#D91656 ;
}
.circle::after{
     content: "";
     position: inherit;
     right: -50vmin;
     bottom: -55vmin;
     width: inherit;
     height: inherit;
     border-radius:inherit;
     background:#D91656 ;

}

.card{
     overflow: hidden;
     position:relative;
     z-index: 3;
     width: 100%;
     margin:0 20px;
     padding: 160px 30px 38px;
     border-radius: 1.25rem;
     background:#EE66A6 ;
     text-align: center;
     box-shadow: 0 100px 100px rgb(160, 214, 131/ 10%), 
}
.card::before{
content: "";
position: absolute;
background:#FFEB55;
top: -880px;
left:50%;
width: 1000px;
height: 1000px;
border-radius: 50%;
translate: -50% 0;
}

.card .logo{
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     background-color: #D91656;
     height: 64px;
     width:64px;
     top:30px;
     left:50%;
     translate: -50% ;
}

.card .logo i{
     font-size: 50px ;
     color:#640D5F;
     font-weight: 500;
      
}

.card>h2{
     font-size:22px;
     font-weight: 400;
     margin: 0 0 30px;
     color: #640D5F;
}
.form{
     margin: 0 0 30;
     display: grid;
}
.form>input, .form>button{
     width: 100%;
     height: 50px;
     border-radius: 20px;
}
.form>input{
     border:2px solid #640D5F;
     font-family: inherit;
     font-size: 16px;
     padding: 0 24px;
     color:#640D5F;
     transition: all 0.375s;
     margin-bottom: 10px;
}
.form>input:hover{
     border: 2px solid #640D5F;

}

.form>input::placeholder{
     color:#640D5F;
}

.form>button{
     cursor: pointer;
     width: 100%;
     height: 50px;
     padding: 0 16px;
     background: #D91656;
     color:#FFEB55;
     border:0;
     font-family: inherit;
     font-size: 1rem;
     font-weight: 600;
     text-align: center;
     letter-spacing: 2px;
     transition: all 0.375;

}

.form>button:hover{
     color:#D91656;
     background-color:#FFEB55 ;

}



 .card>footer{
     color:#640D5F;

 }

.card>footer>a{
     color:#FFEB55;
}
.card>footer>a:hover{
     color:#D91656;

}


@media (width >=500px){
     body{
          padding: 0;
     }
     .card{
          margin:0;
          width: 360px;
          
     }
}